deepspeed==0.16.7
huggingface_hub==0.28.1
huggingface_hub==0.30.2
keyboard==0.13.5
numpy==2.2.5
peft==0.11.1
peft==0.15.2
python-dotenv==1.1.0
scikit_optimize==0.10.2
torch==2.3.1
torch==2.7.0
tqdm==4.66.4
tqdm==4.67.1
transformers==4.49.0
transformers==4.51.3
wandb==0.19.10
